<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.requests}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/}"  class="nav-link px-2 link-dark" th:text="#{header.home}"/></li>
            <li><a th:href="@{/catalog}"  class="nav-link px-2 link-dark" th:text="#{header.catalog}"/></li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}" class="nav-link px-2 link-dark" th:text="#{header.profile}"/>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" th:value="#{header.logout}"/>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a type="button" th:href="@{/login}" class="btn btn-outline-primary me-2" th:text="#{header.login}"/>
            <a type="button" th:href="@{/sign-up}" class="btn btn-outline-primary me-2" th:text="#{header.signUp}"/>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/requests}" class="nav-link px-2 link-dark" th:text="#{profile.button.requests}"></a></li>
        </ul>
    </div>
</div>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th th:text="#{requests.label.requestId}"></th>
            <th th:text="#{requests.label.advertId}"></th>
            <th th:text="#{requests.label.email}"></th>
            <th th:text="#{requests.label.date}"></th>
            <th th:text="#{requests.label.status}"></th>
            <th th:text="#{requests.label.actions}"></th>
        </tr>
        <tr th:each="request : ${requests}">
            <td><span th:text="${request.requestId}"></span></td>
            <td>
                <a th:href="@{/details/{id}(id=${request.advertId})}">
                    <span th:text="${request.advertId}"></span>
                </a>
            </td>
            <td><span th:text="${request.email}"></span></td>
            <td><span th:text="${request.date}"></span></td>
            <td>
                <div sec:authorize="hasRole('ADMIN')">
                    <span th:text="${request.status}"></span>
                </div>
                <div sec:authorize="hasRole('USER')">
                    <span th:text="${request.date}"></span>
                </div>
<!--                <form th:method="POST" th:action="@{/requests}">-->
<!--                    <select th:value="${userRequest.status}" name="status">-->
<!--                        <span th:if="${userRequest.status == 'created'}">-->
<!--                            <option hidden th:value="'created'" th:text="#{requests.button.created}"></option>-->
<!--                            <option th:value="'available'" th:text="#{requests.button.available}"></option>-->
<!--                            <option th:value="'paid'" th:text="#{requests.button.paid}"></option>-->
<!--                            <option th:value="'finished'" th:text="#{requests.button.finished}"></option>-->
<!--                        </span>-->
<!--                        <span th:if="${userRequest.status == 'available'}">-->
<!--                            <option hidden th:value="'available'" th:text="#{requests.button.available}"></option>-->
<!--                            <option th:value="'created'" th:text="#{requests.button.created}"></option>-->
<!--                            <option th:value="'paid'" th:text="#{requests.button.paid}"></option>-->
<!--                            <option th:value="'finished'" th:text="#{requests.button.finished}"></option>-->
<!--                        </span>-->
<!--                        <span th:if="${userRequest.status == 'paid'}">-->
<!--                            <option hidden th:value="'paid'" th:text="#{requests.button.paid}"></option>-->
<!--                            <option th:value="'created'" th:text="#{requests.button.created}"></option>-->
<!--                            <option th:value="'available'" th:text="#{requests.button.available}"></option>-->
<!--                            <option th:value="'finished'" th:text="#{requests.button.finished}"></option>-->
<!--                        </span>-->
<!--                        <span th:if="${userRequest.status == 'finished'}">-->
<!--                            <option hidden th:value="'finished'" th:text="#{requests.button.finished}"></option>-->
<!--                            <option th:value="'created'" th:text="#{requests.button.created}"></option>-->
<!--                            <option th:value="'available'" th:text="#{requests.button.available}"></option>-->
<!--                            <option th:value="'paid'" th:text="#{requests.button.paid}"></option>-->
<!--                        </span>-->

<!--                    </select>-->
<!--                    <button class="btn-primary" type="submit"><span th:text="#{requests.button.update}"></span></button>-->
<!--                </form>-->
            </td>
            <td>
                <a th:href="@{/delete/{id}(id=${request.requestId})}">
                    <strong><span th:text="delete"></span></strong>
                </a>
            </td>
        </tr>
    </table>
</div>
<footer class="d-flex justify-content-center py-3">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', 'ua').toUriString()}" th:text="#{language.ua}"></a>
        </li>
        <li class="nav-item" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', ' ').toUriString()}" th:text="#{language.eng}"></a>
        </li>
    </ul>
</footer>
<!-- Footer -->
</body>
</html>