<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.car}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/}" class="nav-link px-2 link-dark" th:text="#{header.home}"/></li>
            <li><a th:href="@{/catalog}" class="nav-link px-2 link-dark" th:text="#{header.catalog}"/></li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}" class="nav-link px-2 link-dark" th:text="#{header.profile}"/>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" th:value="#{header.logout}"/>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a type="button" th:href="@{/login}" class="btn btn-outline-primary me-2" th:text="#{header.login}"/>
            <a type="button" th:href="@{/sign-up}" class="btn btn-outline-primary me-2" th:text="#{header.signUp}"/>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/requests}" class="nav-link px-2 link-dark"
                                    th:text="#{profile.button.requests}"></a></li>
            <li class="nav-item"><a th:href="@{/advertisements}" class="nav-link px-2 link-dark"
                                    th:text="#{profile.button.advertisement}"></a></li>
            <li class="nav-item"><a th:href="@{/gallery}" class="nav-link px-2 link-dark"
                                    th:text="#{profile.button.gallery}"></a></li>
            <li class="nav-item"><a th:href="@{/cars}" class="nav-link px-2 link-dark"
                                    th:text="#{profile.button.cars}"></a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <form th:action="@{/car/update}" th:method="POST" th:object="${car}">
            <div class="form-group">
                <input name="carId" type="hidden" th:flied="*{carId}" th:value="*{carId}" class="form-control"/>
            </div>
            <div class="form-group">
                <label><span th:text="#{car.label.type}"/></label>
                <input name="type" type="text" th:flied="*{type}" th:value="*{type}" class="form-control"/>
            </div>
            <div class="form-group">
                <label><span th:text="#{car.label.brand}"/></label>
                <input name="brand" type="text" th:flied="*{brand}" th:value="*{brand}" class="form-control"/>
            </div>
            <div class="form-group">
                <label><span th:text="#{car.label.model}"/></label>
                <input name="model" type="text" th:flied="*{model}" th:value="*{model}" class="form-control"/>
            </div>
            <div class="form-group">
                <label><span th:text="#{car.label.kit}"/></label>
                <input name="kit" type="text" th:flied="*{kit}" th:value="*{kit}" class="form-control"/>
            </div>
            <div class="form-group">
                <label><span th:text="#{car.label.graduationYear}"/></label>
                <input name="graduationYear" type="date" th:flied="*{graduationYear}" th:value="*{graduationYear}"
                       class="form-control"/>
            </div>
            <button class="btn-primary" type="submit"><span th:text="#{gallery.button.create}"/></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span
                    th:text="#{car.button.close}"/></button>
        </form>
    </div>
</div>
<footer class="d-flex justify-content-center py-3">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item"
            th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', 'ua').toUriString()}"
               th:text="#{language.ua}"></a>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item"
            th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', ' ').toUriString()}"
               th:text="#{language.eng}"></a>
        </li>
    </ul>
</footer>
<!-- Footer -->
</body>
</html>